name: Daily QLD Bot

on:
  schedule:
    # 기존: 0 21 (한국 오전 6시)
    # 수정: 5 20 (한국 오전 5시 5분) 
    # UTC 기준 오후 8시는 한국 시간 다음날 오전 5시입니다.
    - cron: '5 20 * * 0-4'
  workflow_dispatch: # 필요할 때 수동으로 실행하는 버튼 유지

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python main.py
